// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.application-body{
	/*height: 1080px;*/
	background-color: #c77d0f;
  background: linear-gradient(to bottom, #d2d0ba 33%, #c77d0f 66%);

}

.container {
	.header{
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		margin:0px;
		padding: 30px;
		text-shadow: -400px 500px 60px black;

		h4{
			text-shadow: 400px 500px 60px black;

			margin:0px;
		}
	}
}


.table-project{

	box-shadow: 0px 0px 2px #212529;
/*	text-shadow: -300px 400px 60px black;*/
  border-radius: 0px 0px 12px 12px;
  border: none;
	overflow: hidden;

	caption{
		caption-side: top;
		background: linear-gradient(to bottom, #4f7fb9 33%, #4466a5 66%);
		color: white;
		font-weight: 500;
		padding: 5px;
		box-shadow: inherit;
	};

	tbody {
		background-color: white;
	}

	thead{
		background: linear-gradient(to bottom, #dcdcdd 33%, #d4d4d4 66%);
	}

	th{	padding: 5px;	}

	background-color: white;
	tbody tr{ 
		border-radius: 0px 0px 12px 12px;		
		&:hover {
			background-color: #fcfed5;
		}
		td{
			border: solid 1px #d4d4d46b;			
		}
	}
	.td-status{
		width: 32px;
	}
	.td-empty{
		width: 5px;
		padding: 0px;
	}
}

.btns-edit-project{
	color: #95add0;
	div{
		&:hover{color: black;};
	}
}

.btn-add-project{
	text-shadow: -400px 500px 60px black;
	display: inline-flex !important;
	font-weight: 500 !important;
	background: linear-gradient(to bottom, #4f7fb9 33%, #4466a5 66%);
	div:nth-of-type(2){
		padding-top: 3px;
		&:hover{color: black;};
	};

}

.project-head{
	width: 100%;
	display: inline-flex !important;
	font-weight: 500 !important;
	font-size: 1.2rem;
	background: linear-gradient(to bottom, #4f7fb9 33%, #4466a5 66%);
	div:nth-of-type(2){
		padding-top: 3px;
		padding-left: 10px;
	};	
}

footer{
	text-align: center;
	border-top: solid 1px gray;
	margin-top: 600px;
}