// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	.header{
		h1{
			text-align: center;
			/*background-color: green;*/
		};
		h2{
			text-align: center;
			/*background-color: blue;*/
		};
	}
}


.table_project{
	caption{
		caption-side: top;
	}
}